.freshbox{
  padding: 20px;

  h2{text-align: center;}
  p{text-align: center; color: #555; font-size: 14px;}

  .freshboxWrap {
    padding: 30px 0 50px;
   .freshboxswiper{
    
    .freshWrap{
      background: #eee;
      text-align: center;
      border: 1px solid #eee;
      position: relative;
      img{
        width: 100%;
        height: 319.4px;
        cursor: pointer;
      }
      .txt{
        cursor: pointer;
        padding: 20px;
        .freshNumber{
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 30px;
          background: #ff9292;
          color:#fff;
          padding-top: 5px;
        }
        strong{
          display: block;
          color: #666;
          font-size: 14px;

        }
        .price{
          font-size: 12px;
        }
      }

    }
   }
  }
}