.location{
  background-color: #fff3f3;
  padding: 50px 20px;
  h2{
    text-align: center;
    letter-spacing: 2px;
  }
  >p{
    text-align: center; 
    font-size: 14px; 
    color: gray;
     margin-top: 7px;
    }
  .slideLocation{
    padding: 30px 0;
    .locationSwiper{
      .locationList{
        background-color: #fff;
        text-align: center;
        position: relative;
        a{
          display: block;
          .imgBox{
            width: 100%;
            height: 350px;
            overflow: hidden;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .textBox{
            padding: 20px 0 0 0;
            font-size: 16px;
            color: #555;
            font-weight: 500;
          }
          .addBox{
            padding: 5px 0 20px;
            font-size: 12px;
            color: #555;
          }
        }
      }
    }
  }
}