@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

  @font-face {
    font-family: 'Ownglyph_brilliant-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_brilliant-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


//초기화
*{margin: 0; padding: 0; box-sizing: border-box;  font-family:'Pretendard-Regular';}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}

/*--------------------Nav.jsx-------------------*/
.header{
  width: 100%;
  padding: 0 30px;
  border-bottom: 1px solid #555;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .header-inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    .logo{
      a{
        img{width: 120px;}
      }
    }
    .nav{
      display: block;
      >ul{
        display: flex;
        align-items: center;
        >li{
          >a{ }
        }
      }
      .loginAndSignup{
        position: absolute;
        top: 30px;
        right: 10px;
        li{
          cursor: pointer;
          color: #333;
          margin: 0 15px;
          font-size: 14px;
          &:hover{
            color: red;
          }
          a{
          }
        }
      }
      // .menu{
      //   margin-top: 12px;
      //   li{
      //     a{
      //       color: #333;
      //       font-size: 15px;
      //     }
      //     &:first-child a{
      //       margin-right: 10px;
      //     }
      //   }
      // }
    }
    .movieNav{
      display: none;
    }
    @media screen and (max-width: 720px) {  //720px보다 작아지면 서브메뉴창이 뜸
      .nav{display: none;}
      .movieNav{
        display: block;

        .mobile-header-drop{
          position: absolute;
          top: 0;
          left: -30px;  //왼쪽에 완전히 붙게 설정
          width: 70%;
          height: 100vh;
          background: rgba(0, 0, 0, 0.9);
          padding: 20px;
          display: none;

          .mobile-header-nav{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 90vh;
            .mobile-header-menu{
              >a{
                padding: 10px;
                background-color: #ffff;
                border-radius: 10px;
                display: block;
                text-align: center;
                margin-bottom: 30px;
                img{
                  width: 130px;
                  height: auto;
                  margin: 0 auto;
                }
              }
              ul{
                li{
                  padding: 20px 5px;
                  border-bottom: 1px solid #ccc;
                  a{
                    color: rgba(255, 255, 255, 0.7);
                    &:hover{
                      color: red; //색상 변경예정
                    }
                  }
                }
              }
            }
            .mobile-header-loginJoin{
              ul{
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                  a{
                    color: #ccc;
                    font-size: 12px;
                    margin: 0 15px;
                    &:hover{
                      color: red; //색상 변경예정
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/*----------------MainSlider.jsx----------------*/
.mainslider{
  width: 100%;
  padding-top: 100px;
  overflow: hidden; //넘치는 부분 가림
  position: relative;
  transition: all .5s;
  &::after{
    content: "";
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 0;
  }


  .cont{
    width: 940px;
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: -470px;
    
    

    .textSlide{
      width: 370px;
      margin: 0;
      .swiper-slide{
        width: 100%;
        .tit_wrap{
          margin-top: 100px;
          // display: flex;
          // flex-direction: column;
          em{
            background-color: #222;
            padding: 4px 15px;
            border-radius: 15px 15px 15px 0;
            color: #fff;
            font-style: normal;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
          }
          strong{
            display: block;
            margin: 15px 0 20px;
            color: #333;
            letter-spacing: 1.3px;
          }
          a{  //자세히보기 버튼
            font-size: 12px;
            color: #333;
            border-bottom: 1px solid #444;
          }
        }
      }
    }
  }
  .img_wrap{
    position: relative;
    width: 54%;
    padding-left: 10px;
    float: right;
    padding-right: 20px;
    margin-right: 30px;
    .mainSwiper{
      img{
        width: 100%;
        border-radius: 5px;
      }
    }
  }
  .page_box{
    position: absolute;
    width: 940px;
    bottom: 50px;
    left: 50%;
    margin-left: -470px;
    z-index: 11;
    .page{
      position: relative;
      width: 370px;
      height: 50px;
      display: flex;
      align-items: center;
      .swiper_progress_bar{
        position: relative;
        width: 150px;
        height: 2px;
        display: inline-block;
        .slider-bar{
          background-color: #b2b2b2;
          height: 2px;
          position: absolute;
          width: inherit;
          left: 0;
          bottom: 0;
          .fill{  //슬라이더가 얼만큼 진행되었는지 표시
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            width: 0;
            height: 100%;
            transition: width 1s linear;
          }
        }
      }
      .swiper-pagination{
        width: auto;
        font-size: 14px;
        margin-left: 160px;
        display: inline-block;
        
        //현재 보여주는 슬라이드 번호 강조
        span:first-child{font-weight: bold;}
      }
      .swiper_btn{  //스와이퍼 재생, 정지 좌우 아이콘 영역
        position: absolute;
        top: 16px;
        right: 0;
        width: 105px;
        text-align: center;
        display: flex;

        .swiperPrevBtn{}
        .swiperNextBtn{}
        .btn-auto{
          .btn-stop{}
          .btn-play{}
        }
      }
    }
  }
}


/*-------------------미디어쿼리--------------------*/
@media screen and (max-width:1200px) {
  .mainslider{
    .cont{
      top:30px;
    }
  }
}

@media screen and (max-width:1000px) {
  .mainslider{
    overflow: visible;
    .cont{
      width:80%;
      top:80%;
      left: 10%;
      z-index: 20;
      margin-left: 0;

      .textSlide{
        width: 370px;
        margin: 0;
        .swiper-slide{
          width: 100%;
          .tit_wrap{
            margin-top: 100px;
            /* display: flex;
            flex-direction: column; */
            em{
              background: #222;
              padding: 3px 10px;
              border-radius: 15px 15px 15px 0;
              color: #fff;
              font-style: normal;
              display: inline-block;
              font-size: 11px;
              font-weight: normal;
            }
            strong{display: block; margin: 20px 0 20px; color: #3d3d3d; font-size: 28px;}
            a{
              font-size: 12px;
              color: #000;
              border-bottom: 1px solid #908f8f;
            }
          }
        }
       
      }
    }
    .img_wrap{
      width: 100%;
      padding-left:0;
      float: none;
      padding-right:0;
      position: relative;
      &::after{
        content:"";
   /*      background-image: url(../public/img/dogicon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; */
        display: block;
        width:100px;
        height:100px;
        z-index: 99;
        position: absolute;
        top:81%;
        right: 50px;
      }

      &::before{
        content:"# 펫캉스 ♪";
        display: block;
        box-sizing: border-box;
        padding-top: 7px;
        font-size: 14px;
        padding-left: 15px;
        border-radius: 20px;
        width:90px;
        height:30px;
        z-index: 99;
        position: absolute;
        top:73%;
        right: 90px;
        background-color: #fff;
      }
      .mainSwiper{
        width:80%;
        margin: 0 auto;
        img{width: 100%; border-radius: 5px;}
      }
    }
    .page_box{
      position: absolute;
      z-index: 11;
      width: 100%;
      bottom: -15%;
      left: 0;
      margin-left:0;
      padding: 0 20px;
      .page{
        position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        .swiper_progress_bar{
          position: relative;
          width: 80%;
          height: 2px;
          display: inline-block;
          .slider-bar{
            background: #b2b2b2;
            height: 2px;
            position: absolute;
            width: inherit;
            left: 0; bottom: 0;
            .fill{
              position: absolute;
              top: 0;
              left: 0;
              background-color: #4C585B;
              width: 0;
              height: 100%;
              transition: width 1s linear;
            }
          }
        }
        .swiper-pagination{
          width: auto;
          font-size: 14px;
          margin-left:67%;
          display: inline-block;
          span:first-child{font-weight: bold;}
        }
        .swiper_btn{
          position: absolute;
          left: 75%;
          top: 17%;
          width: 105px;
          text-align: center;
          display: flex;
          font-size: 30px;
          .swiperPrevBtn{}
          .swiperNextBtn{}
          .btn-auto{
            .btn-stop{}
          }
        }
      }
    }
  }
}
